<div class="container">
    <div class="row roww">
      <div class="col-md-8">
        <h2>Welcome to Our Delivery Service</h2>
        <p class="quote">"Fast and Reliable Delivery at Your Doorstep!"</p>
        <p class="company-info">Our delivery company epitomizes efficiency and speed, offering a seamless experience for all your shipping needs. With a relentless dedication to punctuality, we ensure that every parcel reaches its destination swiftly and securely. Powered by cutting-edge technology and a network of reliable carriers, we guarantee timely deliveries of all goods, big or small. From essential supplies to luxury items, our commitment to excellence remains unwavering. With a customer-centric approach, we prioritize satisfaction, providing real-time tracking and responsive customer support. Experience the convenience of fast, reliable, and hassle-free deliveries with us, your trusted partner in delivering excellence, every time, everywhere.</p>
        <a href="#" class="btn btn-primary" routerLink="/inventory">View Products</a>
      </div>
      <div class="col-md-4">
        <img src="https://i.ibb.co/hMS4sGF/images.png" alt="Delivery App" class="delivery-app-img" height="100%" width="100%">
      </div>
    </div>
</div>
